.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 20px;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
}

.sideBySide {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  flex-direction: row;
}
